body {
background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

#root {
  margin-top:3%;
  text-align: center;
}

.board {
    border: 10px ridge gray;
    padding: 0px;
    width: fit-content;
    margin: 0 auto;
}
