#root {
  text-align: center;
  margin-top: 50px;
}
#root div {
  text-align: -webkit-center;
  text-align: -ms-center;
}

table {
  font-size: 20px;
  /*border-collapse: collapse;*/
  width: 80%;
  max-width: 1000px;
  border: 2px solid green;
  border-radius: 10px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  border-spacing: 0px;
}
table .tableDesc {
  background-color: green;
  color: white;
  font-size: 30px;
}
table .tableHeader {
  background-color: #e7e7e7;
  color: black;
  height: 50px;
  width: 100px;
  border: 2px solid #c0b9b9;
}
table .tableHeader #sortable:hover {
  background-color: gray;
  cursor: pointer;
}
table .tableHeader .sortDataDes:hover {
  background-color: gray;
  cursor: pointer;
}
table .tableHeader .sortDataDes::after {
  content: '\25bc';
  padding-left: 0.5em;
}
table .trAleternateColor {
  background-color: #e7e7e7;
}
table tr .char {
  text-align: left;
}
table tr .number {
  text-align: center;
}
table td {
  border: 1px solid #c0b9b9;
}
table td img {
  width: 30px;
  height: 30px;
  margin: 5px 10px 5px 5px;
  border: 2px solid green;
  position: relative;
  top: 2px;
}
table td .username {
  position: relative;
  bottom: 10px;
}
