#root {
  text-align: center;
  margin-top:50px;
}

#root div {
    text-align: -webkit-center;
    text-align: -ms-center;
}

.styleTable {
  font-size: 20px;
  border-collapse: collapse;
  width: 80%;
  max-width: 1000px;
  border: 2px solid green;
  border-radius: 10px;
  margin: 0 auto;
}

.tableDesc{
background-color: green;
color: white;
font-size: 30px;
}

.tableHeader{
background-color: #e7e7e7;
color: black;
height: 50px;
width: 100px;
border: 2px solid #c0b9b9;
}

td {
  border: 2px solid #c0b9b9;
}

.trAleternateColor{
background-color: #e7e7e7;
}

img {
 width: 30px;
 height: 30px;
 margin: 5px 10px 5px 5px;
 border: 2px solid green;
 position: relative;
 top: 2px;
}

.username {
    position: relative;
    bottom: 10px;
}

#sortable:hover{
  background-color: gray;
  cursor: pointer
}



.char {
  text-align: left;
}

.number {
   text-align: center;
}

.sortDataDes:hover {
  background-color: gray;
  cursor: pointer;
}

.sortDataDes::after {
  content: '\25bc';
  padding-left: 0.5em;
}

.sortDataAsc:after {
    content: '\25b2';
    padding-left: 0.5em;
}



