#root {
  text-align: center;
  margin-top:50px;
}

Table {
  font-size: 35px;
  width: 80%;
  text-align: left;
  border: 1px solid black;
}

.main {
   width: 700px;
   margin: auto;
   border: 1px solid gray;
   font-size: 25px;
}

.recipe{
    text-align: left;
    background-color: gray;
    color: white;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}


.ingredients{
    margin-left: 20px;
    text-align: left;
    border: 1px solid black;
    font-size: 20px;
    display: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
